/*  your css code here. If applicable */
.container{

            border:5px solid black;
            border-radius:30px;
            background-color:gray;
            height:300px;
            width: 700px;
            text-align: center;
            margin:auto;
            
            
        }
       
        .red{

            display:inline-block;
            height:100px;
            width:100px;
			 border: none;
            border-radius:50px;
            margin-top:80px;
            background-color:red;
        }
        .yellow{
            display:inline-block;
            height:100px;
            width:100px;
			 border: none;
            border-radius:50px;
            margin-top:80px;
            background-color: yellow;
        }
        .green{
			
            display:inline-block;
            height:100px;
            width:100px;
			 border: none;
            border-radius:50px;
            margin-top:80px;
            background-color: green;
        }